a {
  color: black;
  text-decoration: none;
}
h1, h2, h3, h4{
	margin:0px;
}
header h1{
	font-size:6vw;
}
section h1{
	font-size:min(5vw,25pt);
	border-bottom: 5px solid black;
	margin-bottom: 20px;
}
section{
	margin:20px 0px 20px 0px;
	clear:both;
}

section p{
	margin: 0px 0px 25px 0px;
}

.highlight{
	color: #ff9e00;
}

.highlight-alt{
	color: #029688;
}

#about-section{
	display: flex;
	flex-direction: row;
}

.profsite-about-img{
/*	float:left;
*/	display: inline-block;
	max-width: 400px;
	margin-right: 3%;
	flex-grow:1;
}
.profsite-about-not-img{
/*	float:right;
*/	display: inline-block;
	font-size: min(4vw, 20pt);
	width: 600px;
/*	width:50%;*/
	vertical-align: top;
	flex-grow:1;
}
/*For Phones*/
@media screen and (max-width: 600px) {
	.profsite-about-not-img{
		margin-top:20px;
		width:100%;
	}
}

.profsite-header{
	width:75%;
	margin:auto;
	padding:10px;
	background-color:#009688;
	color:white;
}
/*For Phones*/
@media screen and (max-width: 600px) {
	.profsite-header{
		font-size:10vw;
		width:95%; 
	}
}
/*For Desktop*/
@media screen and (min-width: 600px) {
	.profsite-bulk{
		width:75%;
		margin:auto;
	}
}
/*For Phones*/
@media screen and (max-width: 600px) {
	.profsite-bulk{
		width:95%;
		margin:auto;
	}
}

.contact-img{
	width: min(10vw,70px);
}

.profsite-contact{
	display: inline-block;
	text-align: center;
	flex-grow:1;
}

.profsite-contact h2{
	font-size: min(4vw, 1.5em);
}

.project-group h2{
	font-size: min(4vw, 1.5em);
}

.project-group p{
	font-size: min(3vw,1em);
}

#contacts-box{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

#old-site-section{
	text-align: center;
}